.footerlinks {
    color: #260033;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #009999;
}

.section-1 .container .row .col-md-7 {
    text-align: center;
    margin-top: 160px;
}

.section-1 .container .row .col-md-5 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.section-1 .container-fluid .row .col-md-5 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.section-1 .container-fluid .row .col-md-7 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 60px;
}

.section-1 .container-fluid {
    background: #260033;
}

.section-1 .container-fluid .row .col-md-7 h1 {
    color: #ffffff;
}

.section-1 .container-fluid .row .col-md-7 p {
    color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    .section-1 .container .row .col-md-7 {
        text-align: center;
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .section-1 .container-fluid .row .col-md-7 {
        text-align: center;
        margin-top: 40px;
    }
}

footer .col-12 {
    margin-bottom: 20px;
}

footer .row .col-md-12 {
    margin-top: 20px;
}

footer {
    background-color: whitesmoke;
}

footer .row .col-md-12 p {
    margin-top: 25px;
}

#for-margin {
    margin-top: 45px;
}

